* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: border-box;
}

body {
	background-color: firebrick;
	font-family: monospace, sans-serif;
}

h1 {
	text-align: center;
	color: #fff;
	margin-top: 15px;
	font-size: 45px;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	margin: 1rem 0;
}

.btn {
	background-color: rgba(255,255,255,1);
	font-weight: 900;
	letter-spacing: 1px;
	font-size: 15px;
	border: none;
	cursor: pointer;
	padding: 7px 26px;
	border: 2px solid white;
	border-radius: 5px;

	transition: all .4s ease;
}

.create-btn {
	margin: 0 1.5rem;
}

.btn:hover {
	background-color: rgba(255,255,255,0.1);
	border: 2px solid black;
}

.color-btn:hover {
	background-color: rgba(255,255,255,0.95);
}

.container {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	margin: auto;
	width: 650px;
	height: 650px;
	background-color: white;
	overflow: hidden;

	box-shadow: 8px 8px 5px rgba(0,0,0,0.4);
}

.square {
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.1;
	margin: 0;
	padding: 0;
}

.color-animation:hover {
    -webkit-animation: color-change 2s infinite;
    -moz-animation: color-change 2s infinite;
    -o-animation: color-change 2s infinite;
    -ms-animation: color-change 2s infinite;
    animation: color-change 2s infinite;
}

@-webkit-keyframes color-change {
    0% { color: #252326; }
    25% { color: #DEB13A; }
    50% { color: #3DC37D; }
    75% { color: #A33ACB; }
    100% { color: #252326; }
}

@-moz-keyframes color-change {
    0% { color: #252326; }
    25% { color: #DEB13A; }
    50% { color: #3DC37D; }
    75% { color: #A33ACB; }
    100% { color: #252326; }
 }

@-ms-keyframes color-change {
    0% { color: #252326; }
    25% { color: #DEB13A; }
    50% { color: #3DC37D; }
    75% { color: #A33ACB; }
    100% { color: #252326; }
}

@-o-keyframes color-change {
    0% { color: #252326; }
    25% { color: #DEB13A; }
    50% { color: #3DC37D; }
    75% { color: #A33ACB; }
    100% { color: #252326; }
}

@keyframes color-change {
    0% { color: #252326; }
    25% { color: #DEB13A; }
    50% { color: #3DC37D; }
    75% { color: #A33ACB; }
    100% { color: #252326; }
}